In [1]:
import numpy as np
import pandas as pd

In [2]:
Prices = pd.read_csv('Date-Wise-Prices-all-Commodity.csv')

In [3]:
Prices.head()

,State,District,Market,Commodity,Variety,Grade,Min_x0020_Price,Max_x0020_Price,Modal_x0020_Price
0,Andhra Pradesh,Chittor,Chittoor,Gur(Jaggery),NO 1,FAQ,4000.0,4100.0,4000.0
1,Andhra Pradesh,Chittor,Chittoor,Gur(Jaggery),NO 2,FAQ,3000.0,3500.0,3500.0
2,Andhra Pradesh,Chittor,Chittoor,Gur(Jaggery),NO 3,FAQ,2300.0,2300.0,2300.0
3,Andhra Pradesh,Chittor,Punganur,Tomato,Hybrid,FAQ,1340.0,2000.0,1670.0
4,Andhra Pradesh,Chittor,Vayalapadu,Tomato,Local,FAQ,640.0,2160.0,1400.0

In [4]:
Prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              6435 non-null   object
 1   District           6435 non-null   object
 2   Market             6435 non-null   object
 3   Commodity          6435 non-null   object
 4   Variety            6435 non-null   object
 5   Grade              6435 non-null   object
 6   Min_x0020_Price    6435 non-null   float64
 7   Max_x0020_Price    6435 non-null   float64
 8   Modal_x0020_Price  6435 non-null   float64
dtypes: float64(3), object(6)
memory usage: 452.6+ KB

In [5]:
Prices_num = Prices.drop(['State', 'District','Market','Commodity','Variety','Grade'],axis=1)

In [6]:
Prices_num

      Min_x0020_Price  Max_x0020_Price  Modal_x0020_Price
0              4000.0           4100.0             4000.0
1              3000.0           3500.0             3500.0
2              2300.0           2300.0             2300.0
3              1340.0           2000.0             1670.0
4               640.0           2160.0             1400.0
...               ...              ...                ...
6430           1400.0           1500.0             1450.0
6431            760.0            800.0              780.0
6432           2700.0           2900.0             2800.0
6433           4700.0           4900.0             4800.0
6434           1400.0           1600.0             1500.0

[6435 rows x 3 columns]

In [7]:
Prices_num.describe()

       Min_x0020_Price  Max_x0020_Price  Modal_x0020_Price
count      6435.000000      6435.000000        6435.000000
mean       4107.969231      4676.000738        4415.979705
std       20324.137126     23998.000980       22159.552059
min           0.000000         0.000000           3.000000
25%        1200.000000      1420.000000        1300.000000
50%        2300.000000      2600.000000        2500.000000
75%        4400.000000      5000.000000        4607.500000
max      800000.000000   1000000.000000      900000.000000

In [10]:
Prices_num = (Prices_num - Prices_num.min()) / (Prices_num.max() - Prices_num.min())

In [11]:
Prices_num.describe()

       Min_x0020_Price  Max_x0020_Price  Modal_x0020_Price
count      6435.000000      6435.000000        6435.000000
mean          0.005135         0.004676           0.004903
std           0.025405         0.023998           0.024622
min           0.000000         0.000000           0.000000
25%           0.001500         0.001420           0.001441
50%           0.002875         0.002600           0.002774
75%           0.005500         0.005000           0.005116
max           1.000000         1.000000           1.000000

In [12]:
Prices_num

      Min_x0020_Price  Max_x0020_Price  Modal_x0020_Price
0            0.005000          0.00410           0.004441
1            0.003750          0.00350           0.003886
2            0.002875          0.00230           0.002552
3            0.001675          0.00200           0.001852
4            0.000800          0.00216           0.001552
...               ...              ...                ...
6430         0.001750          0.00150           0.001608
6431         0.000950          0.00080           0.000863
6432         0.003375          0.00290           0.003108
6433         0.005875          0.00490           0.005330
6434         0.001750          0.00160           0.001663

[6435 rows x 3 columns]

In [14]:
Prices_cat_1 = pd.get_dummies(Prices['State'], dtype=int)

In [ ]:
Prices_cat_1

In [15]:
Prices_cat_2 = pd.get_dummies(Prices['District'], dtype=int)

In [16]:
Prices_cat_3 = pd.get_dummies(Prices['Market'], dtype=int)

In [17]:
Prices_cat_4 = pd.get_dummies(Prices['Commodity'], dtype=int)

In [18]:
Prices_cat_5 = pd.get_dummies(Prices['Variety'], dtype=int)

In [19]:
Prices_cat_6 = pd.get_dummies(Prices['Grade'], dtype=int)

# Merge Numerical and Categorical

In [20]:
Prices_prepared = pd.concat([Prices_cat_1, Prices_cat_2,Prices_cat_3,Prices_cat_4,Prices_cat_5,Prices_cat_6, Prices_num ], axis=1)

In [21]:
Prices_prepared

,Andhra Pradesh,Bihar,Chandigarh,Chattisgarh,Goa,Gujarat,Haryana,Himachal Pradesh,Jammu and Kashmir,Karnataka,...,Zinga(Zambo-C),api,other,FAQ,Large,Medium,Small,Min_x0020_Price,Max_x0020_Price,Modal_x0020_Price
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0.005000,0.00410,0.004441
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0.003750,0.00350,0.003886
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0.002875,0.00230,0.002552
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0.001675,0.00200,0.001852
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0.000800,0.00216,0.001552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6430,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0.001750,0.00150,0.001608
6431,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0.000950,0.00080,0.000863
6432,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0.003375,0.00290,0.003108
6433,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0.005875,0.00490,0.005330
6434,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0.001750,0.00160,0.001663

# Train Test Split

In [22]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(Prices_prepared, test_size=0.2, random_state=42)

In [23]:
test_x = test_set.drop(['Min_x0020_Price','Max_x0020_Price','Modal_x0020_Price'], axis=1)

In [24]:
test_y = test_set[['Min_x0020_Price','Max_x0020_Price','Modal_x0020_Price']]

In [25]:
test_x

,Andhra Pradesh,Bihar,Chandigarh,Chattisgarh,Goa,Gujarat,Haryana,Himachal Pradesh,Jammu and Kashmir,Karnataka,...,Yellow (Black),Zinga(Zambo-A),Zinga(Zambo-B),Zinga(Zambo-C),api,other,FAQ,Large,Medium,Small
2436,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3361,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
233,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3667,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5011,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2600,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6308,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6292,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
151,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2344,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [ ]:
test_y

In [26]:
train_x = train_set.drop(['Min_x0020_Price','Max_x0020_Price','Modal_x0020_Price'], axis=1)
train_y = train_set[['Min_x0020_Price','Max_x0020_Price','Modal_x0020_Price']]

In [ ]:
train_x.shape, train_y.shape

In [ ]:
test_x.shape, test_y.shape

# Learning

In [27]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neural_network import MLPRegressor

In [28]:
model = MLPRegressor()
model.fit(train_x, train_y)

MLPRegressor()

# Evaluation

In [29]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [30]:
test_y_prediction = model.predict(test_x)

In [31]:
test_y_prediction

array([[ 0.00700433,  0.02583629,  0.01481084],
       [ 0.03537646,  0.02979027, -0.00168676],
       [ 0.01946771,  0.01210175, -0.00238801],
       ...,
       [-0.00119232, -0.00334105,  0.017177  ],
       [-0.00385617,  0.02055126, -0.00374295],
       [ 0.03448033, -0.02956343, -0.00237113]])

In [ ]:
test_x.shape

In [ ]:
test_y_prediction.shape

In [32]:
mean_absolute_error(test_y, test_y_prediction)

0.01411102585258056

In [33]:
mean_squared_error(test_y, test_y_prediction)

0.0005261859484781196